*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/android.lock
gradle/android/
gradle/caches/
gradle/daemon/
gradle/native/
gradle/wrapper/dists/
.idea/deploymentTargetDropDown.xml
app/google-services.json
